* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Rubik", sans-serif;
    height: 100%;
}

.app_section {
    height: 100%;
}

.main_section {
    margin: 0 140px;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.title_section > div {
    font-size: 64px;
}

.title_section > div > h2:first-child {
    font-weight: 300;
}

.title_section > div > h2:last-child {
    font-weight: 500;
}

.title_section > p {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
}

.question_buttons {
    width: 565px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.link {
    padding: 20px;
    color: #313e51;
    text-decoration: none;
    font-size: 28px;
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
    cursor: pointer;
}

.link > div {
    display: flex;
    align-items: center;
    gap: 32px;
}

.submit-btn {
    font-weight: 500;
    padding: 32px;
    font-size: 28px;
    border-radius: 24px;
    background: #A729F5;
    border: 1px #A729F5 solid;
    color: #ffffff;
    box-shadow: 0 16px 40px 0 rgba(143, 160, 193, 0.14);
    cursor: pointer;
}
.select-btn{
    border-radius: 24px;
    user-select: none;
}
.select-btn:focus{
    outline: 3px #A729F5 solid;
}
.select-btn:focus > div > p{
    background-color: #A729F5;
    color: #ffffff;
}
.select-btn:active{
    outline: 3px #A729F5 solid;
}
.select-btn > div > p {
    background-color: #F4F6FA;
    color: #626C7F;
    border-radius: 8px;
    padding: 18px 22px;
    font-weight: 500;
    transition: .2s all ease;
}
.select-btn:hover p {
    background-color: #F6E7FF;
    color: #A729F5;
}